{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AskProject</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static '/css/reset.css' %}"/>
  <link rel="stylesheet" href="{% static '/css/style.css' %}"/>
</head>
<body>
  <div class="wrapper">
    <header class="header">
      <div class="container">
          <div class="header__inner">
            <h1 class="header__title">
              <a class="header__href" href="{% url 'index' %}">AskProject</a>
            </h1>
            <form class="header__form" action="" method="get">
              <input class="header__search" name="s" placeholder="Search" type="search">
              <button class="header__ask">Ask!</button>
            </form>
          
            <div class="header__register">
              <div class="header__avatar__body">
                <img class="header__avatar" src="{% static '/img/avatar.png' %}" alt="">
              </div>
              <div class="header__register__body">
                  <span class="header__register_name">Dr. Pepper</span>
                  <a class="header__register__settings" href="{% url 'settings' %}">settings</a>
                  <a class="header__register__log-out" href="#">log out</a>
              </div>
            </div>
          </div>
      </div>
    </header>
    <section class="main">
      <div class="container">
        <div class="main__inner">
          {% block content %}


          {% endblock %}
          <div class="main__right">
            <div class="main__right__inner">
              <div class="right__tags">
                <h2 class="tags__title">
                  Popular Tags
                </h2>
                <div class="tags__body">
                  
                  {% for tag in tags %}

                  {% include 'components/tags-item.html' %}

                  {% endfor %}

                </div>
              </div>
              <div class="right__members">
                <h2 class="members__title">
                  Best Members
                </h2>
                <div class="members__body">
                  <ul>
                    
                    {% for member in members %}

                    {% include 'components/members-item.html' %}

                    {% endfor %}
                    
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
    </footer>
  </div>
</body>
</html>

