{% extends 'layouts/base.html' %}


{% block content %}
<div class="fragment">
  <div class="questions__upper">
    <h2 class="questions__upper__title">
      New Questions
    </h2>
    <a href="{% url 'hot' %}" class="questions__upper__href">

      Hot Questions
    </a>
    <a href="{% url 'ask' %}" class="questions__upper__href-ask">
      Ask Question
    </a>
  </div>
  <div class="questions__body">

    {% for question in questions %}

    {% include 'components/question-item.html' %}

    {% endfor %}

    {% include 'components/paginator.html' %}
    
  </div>
</div>
{% endblock %}
