{% extends 'layouts/base.html' %}
{% load django_bootstrap5 %}

{% block content %}

<div class="fragment">
  <h2 class="log__title">Log In</h2>
  <div class="log__body">
    <form class="col-6 needs-validation log__form" method="post" novalidate>
      {% csrf_token %}

      {% bootstrap_form form %}
      
      <button class="log__input__btn">Log in!</button>
      <a class="log__input__href" href="{% url 'signup' %}">create new account</a>
    </form>
  </div>
</div>

{% endblock %}
          