{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<div class="fragment">

  <div class="question question__one">
    <div class="question__left">
      <img class="question__left__img question__avatar" src="{% static 'img/avatar.png' %}" alt="">
      <div class="question__left__likes__one">
        <button><img src="{% static 'img/like.png' %}" alt=""></button>
        <span>42</span>
      </div>
    </div>
    <div class="question__right">
      <div class="question__right__body">
        <h2 class="question__right__title question__one__title">{{question.title}}</h2>
        <span class="question__right__text">{{question.content}}</span>
      </div>
      <div class="question__right__hrefs">
        <span class="question__right__hrefs__tags">Tags:</span>
        {% for question_tag in question.tags %}

        {% include 'components/question-tags-item.html' %}

        {% endfor %}
      </div>
    </div>
  </div>


  <div class="answers__body">
    
    {% for answer in answers %}

    {% include 'components/answer-item.html' %}

    {% endfor %}

    {% include 'components/paginator.html' %}

  </div>
  <div class="answer__field">
    <form class="answer__field__form" action="" method="get">
      <textarea class="answer__field__text" placeholder="Enter your answer here!"></textarea>
      <button class="answer__field__btn">Answer</button>
    </form>
  </div>
</div>

{% endblock %}
