{% load static %}

<div class="question answer">
    <div class="question__left">
      <img class="question__left__img" src="{% static 'img/avatar.png' %}" alt="">
      <div class="question__left__likes__ans">
        <div class="rating-section arrows">
          <button class="arrow arrow__up">&#8743;</button>
          <button class="arrow arrow__down">&#8744;</button>
        </div>
        <span class="counter">{{ answer.rating }}</span>
      </div>
    </div>
    <div class="question__right">
      <div class="question__right__body">
        <span class="question__right__text answer__text">{{ answer.content }}</span>
      </div>
      <div class="question__right__hrefs">
        <form class="answer__form">
          <input class="answer__checkbox" id="answer" type="checkbox">
          <label class="answer__checkbox__text" for="answer">Correct!</label>
        </form>
        <span class="question__right__hrefs__date">Date: {{ answer.date }}</span>
      </div>
    </div>
  </div>