{% load static %}


<div class="question">
    <div class="question__left">
      <img class="question__left__img" src="{% static 'img/avatar.png' %}" alt="">
      <div class="question__left__likes">
        <div class="rating-section question-rating-section arrows">
          <button class="arrow arrow__up" data-id="{{ question.id }}">&#8743;</button>
          <button class="arrow arrow__down" data-id="{{ question.id }}">&#8744;</button>
        </div>
        <span class="counter question-counter">{{ question.rating }}</span>
      </div>
    </div>
    <div class="question__right">
      <div class="question__right__body">
        <a class="question__right__title" href="{% url 'question' question_id=question.id %}">{{ question.title }}</a>
        <span class="question__right__text">{{ question.content }}</span>
      </div>
      <div class="question__right__hrefs">
        <a class="question__right__hrefs__answer" href="{% url 'question' question_id=question.id %}">answers,</a>
        <span class="question__right__hrefs__tags">Tags:</span>
        <div class="question__right__tags">
          {% for question_tag in question.tags.all %}

          {% include 'components/question-tags-item.html' %}

          {% endfor %}
        </div>
        <span class="question__right__hrefs__date">Date: {{ question.date }}</span>
      </div>
    </div>
  </div>